* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    margin: 50px auto;
    width: 500px;
    font-family: Roboto;
}


h1 {
    text-align: center;
}


.box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 -40px;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px 40px;
    padding-top: 30px;
}

input {
    width: 277px;
    height: 59px;
    padding: 15px;
    border: 2px solid;
    border-radius: 10px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}


button {
    width: 277px;
    height: 59px;
    background-color: blueviolet;
    color: white;
    border: none;
    margin-top: 150px;
    margin-left: -150px;

}